.container {
  min-height: 100vh;
}

.siderCol {
  background-color: var(--second-bg-color);
}

.pageHeader {
  margin-top: 48px;
  margin-bottom: 34px;
}

.description {
  font-size: 18px;
  color: var(--third-text-color)
}

.contentContainer {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .container {
    min-height: 100%;
  }

  .contentContainer {
    padding: 15px;
  }

  .pageHeader {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
  }
}
