.container {
  min-height: 100vh;
}

.siderCol {
  background-color: var(--second-bg-color);
}

.pageHeader {
  margin-top: 48px;
  margin-bottom: 34px;
}

.description {
  font-size: 18px;
  color: var(--third-text-color)
}
