.container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 32px;
}

.inActiveContainer {
    background-color: transparent;
}

.link {
    text-decoration: none;
    color: var(--second-text-color)
}

.activeLink {
    color: var(--main-text-color)
}

.link:hover {
    color: var(--main-text-color)
}

.link:active {
    color: var(--main-text-color)
}

.icon {
    margin-right: 15px
}
