body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-white-color: #ffffff;
  --main-text-color: #161616;
  --second-text-color: #16161640;
  --third-text-color: #16161650;
  --second-bg-color: #eff0f3;
  --main-button-color:#302C28;
  --main-blue-color:#235864;
  --second-blue-color:#82979C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

body.modal-open > :not(.modal) {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 18px;
  }
}
